.new {
  font-weight: bold;
}
pre.block {
  background-color: LightGoldenRodYellow;
  white-space: pre;
  font-family: courier;
  font-size: 90%;
}
code {
  white-space: pre;
  font-family: courier;
  font-size: 90%;
}
q {
  font-style: italic;
}