name: Publish Snapshot Artifacts
on:
  push:
    branches: [ master ]
jobs:
  snapshot:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: maven
      - name: Build with Maven
        run: mvn --file rococoa/pom.xml --batch-mode deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}